body {
    background-color: #f5f5f5; /* Delikatne tło */
}

h2 {
    color: #333;
    font-weight: 600;
}

.ant-card {
    border-radius: 10px; /* Zaokrąglone rogi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień */
}

.ant-table {
    margin-bottom: 16px;
}

.ant-table-cell {
    vertical-align: middle;
}
