.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Logo lub tytuł aplikacji w nagłówku */
.header .logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-right: 20px;
}

/* Dostosowanie wyglądu menu */
.menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Stylowanie przycisku wylogowania */
.logout-button {
  margin-left: auto;
  color: #ffffff;
  border-color: #ff4d4f;
  background-color: #ff4d4f;
}

.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ant-layout-content {
  flex: 1; /* Wypełnia pozostałą przestrzeń między nagłówkiem a stopką */
}

footer {
  background-color: #f0f0f0;
  padding: 20px;
}

